.boundary {
  fill: none;
  stroke: #888;
  stroke-linejoin: round;
}

svg {
  background-color: #C0C0C0;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.district {
  cursor: pointer;
}

table {
  color: black;
}