<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Contact Details</h4>
        <p>
          Sugan Gopalakrishnan,<br/>
          Bangalore, India.<br/>
          +91-9611772683 <br/>
          skype: rgksugan
        </p>
      </div>
      <div class="col-lg-4">
        <h4>My Links</h4>
        <p>
          <a href="https://github.com/rgksugan" target="_blank">Github</a><br/>
          <a href="https://twitter.com/rgksugan" target="_blank">Twitter</a><br/>
          <a href="https://www.facebook.com/rgksugan" target="_blank">Facebook</a>
        </p>
      </div>
      <div class="col-lg-4">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/rgksugan" data-widget-id="459413824894803968" data-tweet-limit="2">
          Tweets by @rgksugan
        </a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>